@charset "UTF-8";
body {
	font-family: "Roboto", "Segoe UI", Arial, Segoe, "DejaVu Sans",
		"Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: $primary-text;
	background-color: $white;
	position: relative;
}
a {
	text-decoration: none;
}
a:hover,
a:focus {
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	text-decoration: none;
}
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}
* {
	padding: 0;
	margin: 0;
	outline: none !important;
}
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.section-title {
	font-size: 30px;
	margin-bottom: 32px;
	font-weight: normal;
	text-transform: uppercase;
	&.section-title-small {
		font-size: 20px;
	}
}

.section-view-more {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	.section-view-more-link {
		color: $gray-13;
		text-transform: uppercase;
		text-align: center;
	}
}
.section-padding {
	padding: 30px 0 40px 0;
}
.section-border-bottom {
	border-bottom: 1px solid #cccccc;
}
.home-banner-section {
	.section-padding {
		padding: 20px 0;
	}
}

.banner-link {
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	&:hover,
	&:focus {
		opacity: 0.8;
	}
}
.block-flash-sale-title {
	margin-bottom: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 24px;
	.block-flash-sale-text {
		font-size: 30px;
		color: #f2611c;
	}
	.block-flash-sale-countdown {
		padding-top: 6px;
	}
}
.mb-24px {
	margin-bottom: 24px;
}
.mb-32px {
	margin-bottom: 32px;
}

.category-title {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 0;
}
.togglelines-btn {
	position: relative;
	width: 24px;
	height: 24px;
	.togglelines {
		position: absolute;
		width: 22px;
		height: 2px;
		top: 50%;
		background: #222;
		-o-transition: background 0.01s ease 0.3s;
		-webkit-transition: background 0.01s ease 0.3s;
		transition: background 0.01s ease 0.3s;
		&:after,
		&:before {
			content: "";
			width: 22px;
			height: 2px;
			background: #222;
			position: absolute;
			top: -4px;
			-o-transition: top 0.3s ease 0.3s, transform 0.3s ease 0s,
				width 0.01s ease 0.3s;
			-webkit-transition: top 0.3s ease 0.3s, transform 0.3s ease 0s,
				width 0.01s ease 0.3s;
			-webkit-transition: top 0.3s ease 0.3s, width 0.01s ease 0.3s,
				-webkit-transform 0.3s ease 0s;
			transition: top 0.3s ease 0.3s, width 0.01s ease 0.3s,
				-webkit-transform 0.3s ease 0s;
			-webkit-transition: top 0.3s ease 0.3s, width 0.01s ease 0.3s,
				-webkit-transform 0.3s ease 0s;
			transition: top 0.3s ease 0.3s, width 0.01s ease 0.3s,
				-webkit-transform 0.3s ease 0s;
			-webkit-transition: top 0.3s ease 0.3s, width 0.01s ease 0.3s, -webkit-transform 0.3s ease 0s;
			transition: top 0.3s ease 0.3s, width 0.01s ease 0.3s, -webkit-transform 0.3s ease 0s;
			transition: top 0.3s ease 0.3s, transform 0.3s ease 0s,
				width 0.01s ease 0.3s;
			transition: top 0.3s ease 0.3s, transform 0.3s ease 0s,
				width 0.01s ease 0.3s, -webkit-transform 0.3s ease 0s;
		}
		&:after {
			top: 4px;
			width: 12px;
		}
	}
}
.sidebar-overlay-filter {
	position: fixed;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #0000008c;
	top: 0;
	left: 0;
	z-index: 9999;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	display: none;
	&.is-active {
		@include maxWidth(992px) {
			display: block;
		}
	}
}
.page-breadcrumb {
	padding: 28px 0 20px 0;
	.breadcrumb {
		margin-bottom: 0;
		.breadcrumb-item {
			color: $gray-13;
			&.active {
				color: $gray-13;
			}
			& + .breadcrumb-item {
				&:before {
					content: "|";
				}
			}
		}
	}
}
.input-outer {
	position: relative;
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
        &::-ms-expand {
            display: none;
        }
    }
	.input-item {
        width: 100%;
        display: block;
        padding: 8px 36px 8px 10px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
	}
	i {
		position: absolute;
		width: 32px;
		height: 32px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-size: 20px;
        pointer-events: none;
        &.mwc-icon-mwc-search{
            font-size: 16px;
        }
	}
}
