.account-voucher-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	padding-bottom: 20px;
	background-color: #f5f5f5;
	position: relative;
	z-index: 0;
}
.account-voucher-padding {
	-webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
	border-radius: 0.125rem;
	overflow: hidden;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 1.5625rem 2rem;
	background: #fff;
}
.account-voucher-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.account-voucher-header-title {
	font-size: 1.25rem;
	font-weight: 500;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.8);
}
.account-voucher-header-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	.account-voucher-header-link {
		border-left: 0.5px solid rgba(0, 0, 0, 0.26);
		padding-left: 0.625rem;
		margin-left: 0.625rem;
		&:first-child {
			padding-left: 0;
			margin-left: 0;
			border-left: 0;
		}
	}
	.account-voucher-header-link--active {
		color: #ee4d2d;
		text-decoration: none;
		font-size: 0.875rem;
		line-height: 1rem;
	}
	.account-voucher-header-link--muted {
		color: #757575;
	}
}

.account-voucher-save {
	background: rgba(0, 0, 0, 0.03);
	padding: 1.75rem 2.75rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 1.25rem;
	.input-with-validator-wrapper {
		margin: 0 0.5rem 0 0.875rem;
		position: relative;
	}
	.input-with-validator {
		width: 25.875rem;
		height: 2.75rem;
		padding: 0.8125rem;
		border: 1px solid rgba(0, 0, 0, 0.14);
		-webkit-box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
		box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
	}
}

.account-voucher-save-title {
	text-transform: capitalize;
	font-weight: 500;
}
.account-voucher-save-title {
	color: rgba(0, 0, 0, 0.87);
	font-size: 1rem;
	cursor: default;
}

.account-voucher-save-btn {
	width: 6.25rem;
	height: 2.75rem;
	text-align: center;
	border-radius: 0.125rem;
	outline: none;
	color: #fff;
	border: 0;
	-webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
	background: #ee4d2d;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.account-voucher-save-btn {
	text-transform: capitalize;
	font-weight: 500;
}
.account-voucher-save-btn:disabled {
	background: rgba(0, 0, 0, 0.1);
	cursor: default;
}

.stardust-tabs-header-wrapper {
	position: -webkit-sticky;
	position: sticky;
	z-index: 999;
	width: 100%;
	background: #f6f6f6;
}
.stardust-tabs-header {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    overflow: auto;
}
.custom-tab-stardust .stardust-tabs-header {
	border-bottom: 0;
}
.stardust-tabs-header__tab {
	font-weight: 400;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.87);
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 12px 0;
}
.custom-tab-stardust .stardust-tabs-header__tab {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	padding: 12px 2.75rem;
	font-size: 0.75rem;
}
.stardust-tabs-header__tab--active {
	color: #ee4d2d;
}
.account-voucher-stardust-contents {
	margin-top: 16px;
}
// NEW
.acc-voucher-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 0;
}
.acc-voucher-item {
	height: 118px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    max-width: 100%;
    min-width: 1px;
}
.acc-voucher-item-inner {
	height: 100%;
}
.acc-voucher-item-inner {
	position: relative;
}
.acc-voucher-item-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	border-radius: 0.125rem;
	position: relative;
	overflow: visible;
	height: 100%;
	-webkit-box-shadow: 0.125rem 0.125rem 0.3125rem rgb(0 0 0 / 7%);
	box-shadow: 0.125rem 0.125rem 0.3125rem rgb(0 0 0 / 7%);
	padding: 0;
}
.acc-voucher-item-thumb-outer {
	position: relative;
}
.acc-voucher-item-thumb-card {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 7.375rem;
	height: calc(100% - 0.125rem);
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: -o-linear-gradient(
		left,
		transparent 0,
		transparent 0.25rem,
		#fff 0
	);
	background: -webkit-gradient(
		linear,
		left top, right top,
		color-stop(0, transparent),
		color-stop(0.25rem, transparent),
		color-stop(0, #fff)
	);
	background: linear-gradient(
		90deg,
		transparent 0,
		transparent 0.25rem,
		#fff 0
	);
	background-origin: border-box;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	border-right: 1px dashed var(--border-color);
}
.acc-voucher-item-thumb-square {
	height: 3.5rem;
	width: 3.5rem;
	position: relative;
	overflow: hidden;
}
.acc-voucher-item-thumb-square-inner {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}
.acc-voucher-item-thumb-card-title {
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 0.75rem;
	line-height: 0.875rem;
	max-height: 1.75rem;
	max-width: 90%;
	text-align: center;
	-webkit-box-pack: center;
	word-break: break-word;
	margin-top: 0.3125rem;
	padding: 0 0.5rem;
}
.acc-voucher-item-thumb-card-dot {
	top: 0;
	left: 0;
	position: absolute;
	width: 0.25rem;
	height: 100%;
	&:before,
	&::after {
		content: "";
		position: absolute;
		background: #fff;
		width: 100%;
		height: 0.1875rem;
		border-left: 1px solid var(--border-color);
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}
.acc-voucher-item-thumb-card-dot-main {
	position: absolute;
	top: 0.1875rem;
	left: 0;
	width: 0.25rem;
	height: calc(100% - 0.375rem);
	background: -o-radial-gradient(
		0,
		circle,
		at 0.375rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--border-color) 0.25rem,
		#fff 0
	);
	background: radial-gradient(
		circle at 0,
		at 0.375rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--border-color) 0.25rem,
		#fff 0
	);
	background: -o-radial-gradient(
		0 0.375rem,
		circle,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--border-color) 0.25rem,
		#fff 0
	);
	background: radial-gradient(
		circle at 0 0.375rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--border-color) 0.25rem,
		#fff 0
	);
	background-size: 0.25rem 0.625rem;
	background-repeat: repeat-y;
}
.acc-voucher-item-thumb-card-dot-main {
	background: -o-radial-gradient(
		0,
		circle,
		at 0.375rem,
		transparent 0,
		rgba(0, 0, 0, 0.03) 0.1875rem,
		var(--border-color) 0,
		var(--border-color) 0.25rem,
		#fff 0
	);
	background: radial-gradient(
		circle at 0,
		at 0.375rem,
		transparent 0,
		rgba(0, 0, 0, 0.03) 0.1875rem,
		var(--border-color) 0,
		var(--border-color) 0.25rem,
		#fff 0
	);
	background: -o-radial-gradient(
		0 0.375rem,
		circle,
		transparent 0,
		rgba(0, 0, 0, 0.03) 0.1875rem,
		var(--border-color) 0,
		var(--border-color) 0.25rem,
		#fff 0
	);
	background: radial-gradient(
		circle at 0 0.375rem,
		transparent 0,
		rgba(0, 0, 0, 0.03) 0.1875rem,
		var(--border-color) 0,
		var(--border-color) 0.25rem,
		#fff 0
	);
	background-size: 0.25rem 0.625rem;
	background-repeat: repeat-y;
}

.acc-voucher-item-thumb-ship {
	width: 7.375rem;
	height: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: -o-linear-gradient(
		left,
		transparent 0,
		transparent 0.1875rem,
		var(--background-color) 0
	);
	background: -webkit-gradient(
		linear,
		left top, right top,
		color-stop(0, transparent),
		color-stop(0.1875rem, transparent),
		color-stop(0, var(--background-color))
	);
	background: linear-gradient(
		90deg,
		transparent 0,
		transparent 0.1875rem,
		var(--background-color) 0
	);
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	border-radius: 0.125rem 0 0 0.125rem;
}
.acc-voucher-item-thumb-ship-title {
	color: #fff;
	font-size: 1rem;
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.375rem;
	max-height: 2.75rem;
	text-transform: uppercase;
	text-align: center;
}
.acc-voucher-item-thumb-ship-dot {
	position: absolute;
	top: 0.3125rem;
	left: 0;
	width: 0.25rem;
	height: calc(100% - 0.4375rem);
	background: -o-radial-gradient(
		0,
		circle,
		at 0.25rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--background-color) 0.25rem
	);
	background: radial-gradient(
		circle at 0,
		at 0.25rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--background-color) 0.25rem
	);
	background: -o-radial-gradient(
		0 0.25rem,
		circle,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--background-color) 0.25rem
	);
	background: radial-gradient(
		circle at 0 0.25rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--background-color) 0.25rem
	);
	background-size: 0.25rem 0.625rem;
	background-repeat: repeat-y;
	&:after,
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		background: var(--background-color);
		border-left: 1px solid var(--border-color);
	}
	&:before {
		top: -0.3125rem;
		height: 0.3125rem;
		border-radius: 0.125rem 0 0 0;
		border-top: 1px solid var(--border-color);
	}
	&:after {
		bottom: -0.125rem;
		left: 0;
		height: 0.125rem;
		border-bottom: 1px solid var(--border-color);
		border-radius: 0 0 0 0.125rem;
	}
}
.acc-voucher-item-thumb-pay {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 7.375rem;
	height: calc(100% - 0.125rem);
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	border-radius: 0.125rem 0 0 0.125rem;
	background: -o-linear-gradient(
		left,
		transparent 0,
		transparent 0.1875rem,
		var(--background-color) 0
	);
	background: -webkit-gradient(
		linear,
		left top, right top,
		color-stop(0, transparent),
		color-stop(0.1875rem, transparent),
		color-stop(0, var(--background-color))
	);
	background: linear-gradient(
		90deg,
		transparent 0,
		transparent 0.1875rem,
		var(--background-color) 0
	);
}
.acc-voucher-item-thumb-pay-title {
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 0.75rem;
	line-height: 0.875rem;
	max-height: 1.75rem;
	max-width: 90%;
	color: #fff;
	text-align: center;
	-webkit-box-pack: center;
	word-break: break-word;
	margin-top: 0.3125rem;
	padding: 0 0.5rem;
}
.acc-voucher-item-thumb-image {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.acc-voucher-item-thumb-pay-dot {
	position: absolute;
	top: 0.3125rem;
	left: 0;
	width: 0.25rem;
	height: calc(100% - 0.4375rem);
	background: -o-radial-gradient(
		0,
		circle,
		at 0.25rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--background-color) 0.25rem
	);
	background: radial-gradient(
		circle at 0,
		at 0.25rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--background-color) 0.25rem
	);
	background: -o-radial-gradient(
		0 0.25rem,
		circle,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--background-color) 0.25rem
	);
	background: radial-gradient(
		circle at 0 0.25rem,
		transparent 0,
		transparent 0.1875rem,
		var(--border-color) 0,
		var(--background-color) 0.25rem
	);
	background-size: 0.25rem 0.625rem;
	background-repeat: repeat-y;
	&:after,
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		background: var(--background-color);
		border-left: 1px solid var(--border-color);
	}
	&:before {
		top: -0.375rem;
		height: 0.375rem;
		border-radius: 0.125rem 0 0 0;
		border-top: 1px solid var(--border-color);
	}
	&:after {
		bottom: -0.1875rem;
		left: 0;
		height: 0.1875rem;
		border-bottom: 1px solid var(--border-color);
		border-radius: 0 0 0 0.125rem;
	}
}
.acc-voucher-item-label-abs {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0.125rem 0.25rem;
	border-radius: 0.125rem 0.125rem 0.125rem 0;
	color: #fff;
	font-size: 0.625rem;
	line-height: 0.75rem;
	left: -0.1875rem;
	top: 0.3125rem;
	background: #fb0;
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		left: 1px;
		top: calc(100% + 1px);
		border: 0.1875rem solid transparent;
		-webkit-transform: rotate(-45deg) translate(50%, -50%);
		-ms-transform: rotate(-45deg) translate(50%, -50%);
		transform: rotate(-45deg) translate(50%, -50%);
		border-left: 0.1875rem solid #dfa400;
	}
}
.acc-voucher-item-info {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 0;
	height: calc(100% - 0.125rem);
	background: #fff;
	border: 1px solid var(--border-color);
	border-radius: 0 0.125rem 0.125rem 0;
	border-left: 0 solid transparent;
	width: 100%;
	min-width: 0;
}
.acc-voucher-item-info-inner {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 100%;
	padding: 0 0.75rem;
	min-width: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.acc-voucher-item-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding: 0.75rem 0.75rem 0.75rem 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	position: relative;
}
.acc-voucher-item-link-bottom {
	text-transform: capitalize;
	justify-self: flex-end;
	& > a {
		color: #508be3;
		font-size: 0.75rem;
		font-weight: 500;
	}
}
.acc-voucher-item-link-top {
	padding: 0;
	border: 0;
	position: relative;
	color: #ee4d2d;
	font-size: 0.875rem;
	margin-right: 0.75rem;
	cursor: pointer;
	&::after {
		border: solid #ee4d2d;
		border-width: 0 1px 1px 0;
		padding: 0.2125rem;
		-webkit-transform-origin: 0 50%;
		-ms-transform-origin: 0 50%;
		transform-origin: 0 50%;
		position: absolute;
		content: "";
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		display: block;
		right: -0.625rem;
		bottom: 0.0625rem;
		margin-left: 0.3125rem;
	}
}

.acc-voucher-item-thumb {
	display: inline-block;
	vertical-align: top;
}

.acc-voucher-item-ship-title {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.87);
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.25rem;
	max-height: 2.6875rem;
}
.acc-voucher-item-note {
	font-size: 0.75rem;
	line-height: 0.875rem;
	margin-top: 0.25rem;
	color: #ee4d2d;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.acc-voucher-item-note-svg {
	margin-right: 0.25rem;
}
.stardust-icon {
	stroke: currentColor;
	fill: currentColor;
	height: 1em;
	width: 1em;
}

.acc-voucher-item-labels {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 0;
	max-width: 100%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 0.3125rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4px;
	& > div:first-of-type {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		margin-right: 0.3125rem;
		max-width: 80%;
	}
	& > div:only-child {
		max-width: 100%;
	}
}
.acc-voucher-item-label {
	border-radius: 0.125rem;
	white-space: nowrap;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ee4d2d;
	border: 1px solid #ee4d2d;
	padding: 0.0625rem 0.25rem;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.acc-voucher-item-label-text {
	font-size: 0.75rem;
	line-height: 0.875rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.acc-voucher-item-des {
	font-weight: 400;
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 0.875rem;
	line-height: 1rem;
}
.acc-voucher-item-flex-title-text {
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 1rem;
	line-height: 1.25rem;
}
.acc-voucher-item-flex-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.acc-voucher-item-flex-title-outer {
	color: rgba(0, 0, 0, 0.87);
	display: inline;
}
.acc-voucher-item-flex-title-outer-outer {
	color: rgba(0, 0, 0, 0.87);
}
.acc-voucher-item-card-notes {
	font-size: 0.75rem;
	line-height: 0.875rem;
	color: rgba(0, 0, 0, 0.54);
	margin-top: 0.25rem;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.acc-voucher-item-thumb-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.acc-voucher-item-thumb-image {
	height: 0.875rem;
	width: 3.75rem;
	background-position: 50%;
	background-size: contain;
	background-repeat: no-repeat;
}
.acc-voucher-item-progress {
	font-size: 0.75rem;
	line-height: 0.875rem;
	color: rgba(0, 0, 0, 0.54);
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0.3125rem 0.3125rem 0 0;
}
.acc-voucher-item-progress-notes {
	margin-top: 0.25rem;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	white-space: normal;
}
.acc-voucher-item-progress-note-danger {
	color: #ff424f;
}
.acc-voucher-item-progress-note-danger-medium {
	color: #ff424f;
	font-weight: 500;
}
.acc-voucher-item-progress-bar {
	width: 100%;
	height: 0.25rem;
	background: rgba(0, 0, 0, 0.09);
	border-radius: 0.25rem;
	overflow: hidden;
}
.acc-voucher-item-progress-note-small {
	font-size: 0.75rem;
	line-height: 0.875rem;
	margin-top: 0.25rem;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.h125rem {
	height: 1.25rem;
}

.recommend-voucher {
	padding: 0 2rem;
}
.recommend-voucher-header {
	padding: 24px 0;
}
.recommend-voucher-header-title {
	font-size: 1rem;
	line-height: 1.1875rem;
	color: rgba(0, 0, 0, 0.87);
}
.recommend-voucher-contents {
	margin-top: 16px;
	margin-bottom: 16px;
}
.recommend-voucher-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 0;
}
.recommend-voucher-item {
	height: 118px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    max-width: 100%;
    min-width: 1px;
}
.recommend-voucher-item-inner {
	position: relative;
	height: 100%;
}
.recommend-voucher-item-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 0.125rem;
	position: relative;
	overflow: visible;
	-webkit-box-shadow: 0.125rem 0.125rem 0.3125rem rgb(0 0 0 / 7%);
	box-shadow: 0.125rem 0.125rem 0.3125rem rgb(0 0 0 / 7%);
	padding: 0;
	height: 100%;
}
.recommend-voucher-item-thumb {
	position: relative;
	& > a {
		color: inherit;
	}
}
.recommend-voucher-item-thumb-outer {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 7.375rem;
	height: calc(100% - 0.125rem);
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: -o-linear-gradient(
		left,
		transparent 0,
		transparent 0.25rem,
		#fff 0
	);
	background: -webkit-gradient(
		linear,
		left top, right top,
		color-stop(0, transparent),
		color-stop(0.25rem, transparent),
		color-stop(0, #fff)
	);
	background: linear-gradient(
		90deg,
		transparent 0,
		transparent 0.25rem,
		#fff 0
	);
	background-origin: border-box;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	overflow: hidden;
}
.recommend-voucher-item-thumb-inner {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	overflow: hidden;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	padding: 10px;
}
.recommend-voucher-item-thumb-image {
	width: 100%;
	height: 100%;
	background-position: 50%;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}
.recommend-voucher-item-thumb-dot {
	top: 0;
	left: 0;
	position: absolute;
	width: 0.25rem;
	height: 100%;
	&:after,
	&:before {
		content: "";
		position: absolute;
		background: #fff;
		width: 100%;
		height: 0.1875rem;
		border-left: 1px solid #e8e8e8;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}
.recommend-voucher-item-thumb-dot-inner {
	position: absolute;
	top: 0.1875rem;
	left: 0;
	width: 0.25rem;
	height: calc(100% - 0.375rem);
	background: -o-radial-gradient(
		0,
		circle,
		at 0.375rem,
		transparent 0,
		transparent 0.1875rem,
		#e8e8e8 0,
		#e8e8e8 0.25rem,
		#fff 0
	);
	background: radial-gradient(
		circle at 0,
		at 0.375rem,
		transparent 0,
		transparent 0.1875rem,
		#e8e8e8 0,
		#e8e8e8 0.25rem,
		#fff 0
	);
	background: -o-radial-gradient(
		0 0.375rem,
		circle,
		transparent 0,
		transparent 0.1875rem,
		#e8e8e8 0,
		#e8e8e8 0.25rem,
		#fff 0
	);
	background: radial-gradient(
		circle at 0 0.375rem,
		transparent 0,
		transparent 0.1875rem,
		#e8e8e8 0,
		#e8e8e8 0.25rem,
		#fff 0
	);
	background-size: 0.25rem 0.625rem;
	background-repeat: repeat-y;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 1px;
		background: -o-repeating-linear-gradient(
			#e8e8e8,
			#e8e8e8 0.125rem,
			transparent 0,
			transparent 0.625rem
		);
		background: repeating-linear-gradient(
			#e8e8e8,
			#e8e8e8 0.125rem,
			transparent 0,
			transparent 0.625rem
		);
		background-size: 1px 0.625rem;
	}
}
.recommend-voucher-mall-label-abs {
	font-weight: 300;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0.75rem;
	line-height: 0.875rem;
	left: -0.3125rem;
	top: 0.3125rem;
	padding: 0.125rem 0.3125rem;
	border-radius: 0.125rem 0.125rem 0.125rem 0;
	position: absolute;
	background: #d0011b;
	border-left-color: #930113;
	&:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		left: 1px;
		top: calc(100% + 1px);
		border: 0.25rem solid transparent;
		border-left-color: #cd3011;
		-webkit-transform: rotate(-45deg) translate(50%, -50%);
		-ms-transform: rotate(-45deg) translate(50%, -50%);
		transform: rotate(-45deg) translate(50%, -50%);
	}
}
.recommend-voucher-mall-label-abs-img {
	height: 14px;
	padding: 3px 0;
}
.recommend-voucher-favourite-label-abs {
	font-weight: 300;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0.75rem;
	line-height: 0.875rem;
	left: -0.3125rem;
	top: 0.3125rem;
	padding: 0.125rem 0.3125rem;
	border-radius: 0.125rem 0.125rem 0.125rem 0;
	position: absolute;
	background: #ee4d2d;
	&:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		left: 1px;
		top: calc(100% + 1px);
		border: 0.25rem solid transparent;
		border-left-color: #cd3011;
		-webkit-transform: rotate(-45deg) translate(50%, -50%);
		-ms-transform: rotate(-45deg) translate(50%, -50%);
		transform: rotate(-45deg) translate(50%, -50%);
	}
}
.recommend-voucher-info {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 0;
	height: calc(100% - 0.125rem);
	background: #fff;
	border: 1px solid var(--border-color);
	border-radius: 0 0.125rem 0.125rem 0;
	border-left: 0 solid transparent;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
}
.recommend-voucher-info-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 0.5rem;
	z-index: 1;
	border-left: 0.5px dashed rgba(0, 0, 0, 0.15);
	width: 116px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.recommend-voucher-info-right-title {
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: 500;
	line-clamp: 2;
	line-height: 19px;
	max-width: 100%;
	-webkit-line-clamp: 2;
	text-align: center;
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	word-break: break-word;
}

.recommend-voucher-info-right-des {
	color: rgba(0, 0, 0, 0.54);
	font-size: 12px;
	line-height: 14px;
	max-height: 0.875rem;
	-webkit-line-clamp: 1;
	margin-top: 0.125rem;
	text-align: center;
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	word-break: break-word;
}
.recommend-voucher-info-right-btns {
	margin-top: 0.5rem;
}
.recommend-voucher-info-right-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.recommend-voucher-info-right-btn-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.recommend-voucher-info-right-btn-main {
	white-space: nowrap;
	padding: 0 0.5625rem;
	font-size: 0.75rem;
	line-height: 0.875rem;
	height: 1.5rem;
	min-width: 3.4375rem;
	width: auto;
}
.recommend-voucher-info-left {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 100%;
	padding: 0.5rem 0.5rem 0.625rem 0;
	min-width: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-width: 1px;
    gap: 4px;
}
.recommend-voucher-info-left-title {
	color: rgba(0, 0, 0, 0.87);
	font-size: 0.875rem;
	line-height: 1rem;
	max-height: 2.25rem;
	overflow: hidden;
	display: -webkit-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-word;
}
.recommend-voucher-info-left-bottom {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.1875rem;
	color: #ee4d2d;
}
.recommend-voucher-info-left--center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 4px;
}

.recommend-voucher-info-left-labels {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 4px;
}

.recommend-voucher-info-left-labels > span {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: block;
	font-size: 10px;
	line-height: 12px;
	padding: 2px 4px;
	color: #ee4d2d;
	border: 1px solid #ee4d2d;
}
.recommend-voucher-info-right-sale-count {
	color: rgba(0, 0, 0, 0.54);
	text-align: center;
	font-size: 10px;
	line-height: 12px;
    margin-top: 4px;
}
.no-vouchers-area {
	padding: 5.625rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	.no-vouchers-area-inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 1.25rem;
		.no-vouchers-area-image {
			width: 140px;
			height: 140px;
		}
		.no-vouchers-area-info {
			color: rgba(0, 0, 0, 0.65);
			font-size: 1rem;
			line-height: 1.25rem;
			font-weight: 500;
			margin-bottom: 6px;
			margin-top: -8px;
			text-align: center;
		}
		.no-vouchers-area-title {
			color: rgba(0, 0, 0, 0.54);
			font-size: 0.875rem;
			line-height: 1.125rem;
			text-align: center;
		}
	}
	.no-vouchers-area-btn {
		border-radius: 0.125rem;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0 1rem;
		overflow: hidden;
		outline: none;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		position: relative;
		height: 2.25rem;
		min-width: 4rem;
		font-size: 0.875rem;
		line-height: 1.375rem;
		color: #fff;
		border: 0.0625rem solid transparent;
		background: #ee4d2d;
		.no-vouchers-area-btn-text {
			overflow: hidden;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}


.stardust-tabs-content-item{
    display: none;
    &.stardust-tabs-content-item--active{
        display: block;
    }
}
.acc-voucher-item-thumb-ship-title,
.acc-voucher-item-thumb-card-title,
.acc-voucher-item-thumb-pay-title{
    padding: 0 12px;
}
@include maxWidth(992px){
    .account-voucher-header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 12px;
    }
    .account-voucher-save{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 8px;
        margin-bottom: 16px;
    }
    .account-voucher-save .input-with-validator-wrapper{
        margin: 0;
        width: 100%;
    }
    .account-voucher-save .input-with-validator{
        width: 100%;
    }
    .recommend-voucher-grid,
    .acc-voucher-grid{
        grid-template-columns: 1fr;
    }
}
@include maxWidth(480px){
    .account-voucher-header-links{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
                .account-voucher-header-link{
                    margin: 0;
                    border: 0;
                    padding: 0;
                }
    }
    .account-voucher-flex .stardust-tabs-header{


    }
    .acc-voucher-item-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .acc-voucher-item{
        height: auto;
    }
    .acc-voucher-item-thumb-card,
    .acc-voucher-item-thumb-pay,
    .acc-voucher-item-thumb-ship,
    .acc-voucher-item-thumb-outer{
        height: 118px;
    }
    .acc-voucher-item-thumb-card,
    .acc-voucher-item-thumb-pay,
    .acc-voucher-item-thumb-ship{
        width: 100%;
    }
    .acc-voucher-item-info{
        padding: 10px 0;
    }


    .recommend-voucher-item{
        height: auto;
    }
    .recommend-voucher-item-thumb{
        height: 118px;
    }
    .recommend-voucher-item-thumb-outer{
        width: 100%;
    }
    .recommend-voucher-item-grid{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .recommend-voucher-info{
        padding: 12px 0 12px 12px;
    }





    .custom-tab-stardust .stardust-tabs-header__tab {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 12px 24px;
        font-size: 0.75rem;
    }





}
@include maxWidth(375px){
    .acc-voucher-item-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 12px;
    }
    .acc-voucher-item-link{
       width: 100%;
       padding-left: 0.75rem;
       padding-right: 0.75rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .recommend-voucher-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 8px;
        padding: 12px;
    }
    .recommend-voucher-info-left{
        padding-right: 0;
    }
    .recommend-voucher-info-right{
        border: 0;
        padding: 0;
        width: 100%;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}