@mixin maxWidth($value){
    @media screen and (max-width: $value) {
        @content;
    }
}
@mixin minWidth($value){
    @media screen and (min-width: $value) {
        @content;
    }
}

@mixin minMaxWidth($min, $max){
    @media screen and (min-width: $min) and (max-width: $max){
        @content;
    }
}

@mixin absFull(){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin coverImage(){
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}