.home-slider {
	.section-padding {
		padding-bottom: 0;
	}
}
.home-cat-grid {
	.section-padding {
		padding: 38px 0;
		.home-cat-grid-inner {
			display: grid;
			grid-template-columns: repeat(7, auto);
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			@include maxWidth(992px) {
				grid-template-columns: repeat(4, 1fr);
				gap: 22px 12px;
			}
			@include maxWidth(480px) {
				grid-template-columns: repeat(3, 1fr);
			}
			a {
				-webkit-transition: all 0.25s;
				-o-transition: all 0.25s;
				transition: all 0.25s;
				position: relative;
				.header-cat-grid-thumb {
					margin-bottom: 10px;
					// @include maxWidth(360px){
					//     display: none;
					// }
					img {
						margin: 0 auto;
						display: block;
						width: 95px;
						height: 59px;
						-o-object-fit: scale-down;
						object-fit: scale-down;
						@include maxWidth(1200px) {
							width: 79px;
							height: 49px;
							font-size: 16px;
						}
						@include maxWidth(992px) {
							width: 63px;
							height: 39px;
							font-size: 14px;
						}
					}
				}
				.header-cat-grid-title {
					color: $gray-13;
					text-transform: uppercase;
					margin-bottom: 0;
					text-align: center;
					font-size: 18px;
					@include maxWidth(1200px) {
						font-size: 16px;
					}
				}
				&:hover,
				&:focus {
					opacity: 0.8;
				}
				&:not(:first-child) {
					padding-left: 20px;
					@include maxWidth(992px) {
						padding-left: 0;
					}
					&::before {
						content: "";
						display: block;
						width: 1px;
						height: 16px;
						background-color: $gray-13;
						position: absolute;
						left: 0;
						top: 73px;
						@include maxWidth(1200px) {
							height: 14px;
							top: 64px;
						}
						@include maxWidth(992px) {
							display: none;
						}
					}
				}
				&:not(:last-child) {
					padding-right: 20px;
					@include maxWidth(992px) {
						padding-right: 0;
					}
				}
			}
		}
	}
}

.home-sale {
	.section-padding {
		padding: 30px 0;
		.home-sale-inner {
			display: grid;
			gap: 10px 30px;
			grid-template-columns: 1fr 1fr 1fr;
			&:not(.home-sale-grid-normal) {
				grid-template-areas:
					"banner-1 banner-2 banner-4"
					"banner-1 banner-3 banner-4";
				@include maxWidth(767px) {
						grid-template-areas:
							"banner-1 banner-2"
							"banner-3 banner-4";
				}
                & > a{
                    &:nth-child(1) {
						grid-area: banner-1;
					}
					&:nth-child(2) {
						grid-area: banner-2;
					}
					&:nth-child(3) {
						grid-area: banner-3;
					}
					&:nth-child(4) {
						grid-area: banner-4;
					}
                    @include maxWidth(767px) {
						&:nth-child(1) {
							grid-area: banner-3;
						}
						&:nth-child(2) {
							grid-area: banner-1;
						}
						&:nth-child(3) {
							grid-area: banner-2;
						}
						&:nth-child(4) {
							grid-area: banner-4;
						}
                    }
                }
			}
			@include maxWidth(767px) {
				gap: 10px;
				grid-template-columns: 1fr 1fr;
			}
			& > a {
				position: relative;
				-webkit-transition: all 0.25s;
				-o-transition: all 0.25s;
				transition: all 0.25s;
				img {
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
					-o-object-position: center;
					object-position: center;
				}
				&:hover,
				&:focus {
					opacity: 0.8;
				}
			}
		}
	}
}
.home-flash-sale-top {
	.section-padding {
		//padding: 54px 0 0 0;
	}
}

.left-banner-grid {
	.section-padding {
		padding: 28px 0 32px 0;
		.left-banner-grid-image {
			display: block;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				-o-object-position: center;
				object-position: center;
			}
		}
	}
}
